@import "tailwindcss";

@theme {
  --color-primary: #EE4D2D; /* Shopee Orange */
  --color-primary-dark: #D03E1F;
  --color-secondary: #FFEEE8;
  --font-sans: var(--font-inter);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    @apply antialiased text-gray-800;
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}